[submodule "modules/upnpframework"]
	path = modules/upnpframework
	url = https://bitbucket.org/dirk_vdb/upnpframework.git
[submodule "utils"]
	path = utils
	url = https://bitbucket.org/dirk_vdb/utils.git
[submodule "modules/utils"]
	path = modules/utils
	url = https://bitbucket.org/dirk_vdb/utils.git
[submodule "modules/audio"]
	path = modules/audio
	url = https://dirk_vdb@bitbucket.org/dirk_vdb/audio.git
[submodule "modules/image"]
	path = modules/image
	url = https://dirk_vdb@bitbucket.org/dirk_vdb/image.git
